html, body {
  margin: 0;
  padding: 0;
}

.link {
  stroke: rgb(187, 197, 234);
  stroke-width: 2px;
}

.node text {
  pointer-events: none;
  font: 16px 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  fill: rgb(187, 197, 234);
}
